.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  margin: 20px;
}

body {
  font-family: "Arial", sans-serif;
}

header {
  background-color: #8f1269; /* Chọn màu phù hợp từ hình ảnh */
  padding: 1rem;
  color: white;
  text-align: center;
}
/* Thêm các styles khác cho BlogPost, Sidebar và Footer */
